@model Country_State_City_Final.Areas.Branch.Models.Branchmodel
<h3 class="text-center ">Branch Add/Edit</h3>

<form method="post" asp-action="BranchSave">

     @Html.HiddenFor(x=>x.BranchId)
     <div class="mb-3">
        <label class="form-label">Branch Name</label>
        <input type="text" class="form-control" asp-for="BranchName">
        <span class="form-text" asp-validation-for="BranchName"> </span>
    </div>

    <div class="mb-3">
        <label class="form-label">Branch Code</label>
        <input type="text" class="form-control" asp-for="BranchCode">
        <span class="form-text" asp-validation-for="BranchCode"> </span>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
    <a asp-area="Branch" asp-controller="Branch" asp-action="BranchList" class="btn btn-primary">Back to List</a>

</form>