@using System.Data
@using Country_State_City_Final.Areas.Country.Models
@model DataTable


<a type="button" class="btn btn-success mt-5" asp-area="Country" asp-controller="Country" asp-action="CountryAddEdit">Add New Country</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Country Name</th>
            <th scope="col">Country Code</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>

        @if (Model.Rows.Count <= 0)
        {
            <tr>
                <td class="col text-danger text-center">Norecord</td>
            </tr>
        }
        else
        {
            @foreach (DataRow dataRow in Model.Rows)
            {
                <tr>
                    <td>@dataRow["CountryName"]</td>
                    <td>@dataRow["CountryCode"]</td>
                    
                    <td>
                        <a type="button" class="btn btn-danger" asp-action="CountryDelete" asp-route-CountryId="@Convert.ToInt32(dataRow["CountryID"])" >Delete</a>
                        <a type="button" class="btn btn-warning" asp-area="Country" asp-controller="Country" asp-action="CountryAddEdit" asp-route-CountryId="@Convert.ToInt32(dataRow["CountryID"])" >edit</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
