@model Country_State_City_Final.Areas.Country.Models.Countrymodel

<form method="post" asp-action="CountrySave">

    @Html.HiddenFor(x=>x.CountryID)
    <div class="mb-3">
        <label  class="form-label">Country Name</label>
        <input type="text" class="form-control"  asp-for="CountryName" >
        <span class="form-text" asp-validation-for="CountryName"> </span>
    </div>

    <div class="mb-3">
        <label  class="form-label">Country Code</label>
        <input type="text" class="form-control"  asp-for="CountryCode">
        <span class="form-text" asp-validation-for="CountryCode"> </span>
    </div>
    

  
    <button type="submit" class="btn btn-primary">Submit</button>
</form>