@model usermodel
<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <h3>Forgot Password?</h3>
                        </div><!-- End Logo -->

                        <div class="card">

                            <div class="card-body">
                                <div>
                                    <p class="text-danger">@TempData["Error"]</p>
                                </div>
                                <form class="row g-3 needs-validation" asp-action="Login" asp-controller="Home" method="post">
                                    <div class="col-12 h-25">
                                        <label for="yourUsername" class="form-label">Username/Email</label>
                                        <div class="input-group has-validation flex-column">
                                            <input type="text" name="username" class="form-control w-100" id="yourUsername" asp-for="username">
                                            <span asp-validation-for="username" class="mt-2"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 mt-2" type="submit">Forgot Password</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="mb-0">Back to Login <a asp-action="Index">Login</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>
</main><!-- End #main -->